a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bolder;
}


nav{
  background-color: darkgray;
  color: white;
  display: flex;
  justify-content: space-between;
}  



.footer{
  background-color: gray;
  color: aliceblue;
  flex-direction: column;
  gap: 10px;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  padding: 30px;
}

.content{
  margin: 100px;
}

.footer img{
  margin: 3px;
  margin-top: 50px;
}

.footer h2{
    
}